<h2>rending your template</h2>

<% posts.each( function(post) { %>
  POST:<br>
  <a href='#posts/<%= post.get('id')%>'><%= post.get('title') %></a>
  <button class='delete' data-id="<%= post.get('id')%>">Delete</button><br>
<% }) %>