<h3>THIS IS THE POST FORM BIATCH</h3>

<form>
  <label>Title:
  <input type='text' name='post[title]'></input>
  </label><br>

  <label>Body:
  <input type='text' name='post[body]'></input>
  </label><br>

  <input type='submit' value='SUBMIT!'></input>
</form>